body{
	margin: 0px;
}

.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h1{
	font-family: fantasy;
	font-size: 3em;
	border-bottom: 3px solid pink;
	border-right: 3px solid pink;
	width: 400px;
	text-align: center;
	-moz-box-shadow:4px 4px 2px 0px #8888;
	-ms-box-shadow:4px 4px 2px 0px #8888;
	-webkit-box-shadow:4px 4px 2px 0px #8888;
	-o-box-shadow:4px 4px 2px 0px #8888;
	box-shadow: 4px 4px 2px 0px #8888;
	margin-top: 10px;
}

img{
	width: 450px;
	height: 300px;
	margin: 10px;
	transition: all 3s;
}

img:hover{
	transform: scale(1.1);
}